:root {
  /*Color Swatches*/
  --page-background-color: #ffdcb9;
  --board-color: #d18f4c;
  --empty-ring-color: #b97e44;
  --purple: #663399;
  --green: #2aff00;
  --red: #ff0f12;
  --blue: #00f8ff;
}

body {
  margin: 0;
  background-color: var(--page-background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 800;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: black;
  font-size: 30px;
}

a:hover {
  color: blue;
}

.gameboard {
  display: grid;
  background-color: black;
  height: 700px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-pieces,
.main-board {
  color: var(--board-color);
}
