:root {
  /*Color Swatches*/
  --page-background-color: #ffdcb9;
  --board-color: #d18f4c;
  --off-grid-board-color: #473a2d;
  --border-grid-board-color: #473421;
  --empty-ring-color: #b97e44;
  --purple: #663399;
  --green: #2aff00;
  --red: #ff0f12;
  --blue: #00f8ff;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--page-background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

h1 {
  font-size: 72px;
  font-weight: 800;
}

#turn {
  font-size: 64px;
  font-weight: 800;
}

.popup {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
}

#tutorial-window img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
}

#win-message {
  z-index: 100;
}

.popup h1 {
  text-align: center;
}

.menu-buttons button,
.new-game,
.cancel,
#show-board,
#return-to-menu,
#skip-confirm {
  background-color: var(--off-grid-board-color);
  color: white;
  font-size: 30px;
  font-weight: 800;
  padding: 20px;
  border: 5px solid black;
  border-radius: 8px;
  width: 50%;
  margin: 0, auto;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#tutorial,
#restart {
  position: relative;
  width: 20vw;
  font-size: 20px;
  font-weight: 500;
  top: 20%;
}

#show-board,
.cancel {
  top: 80%;
}

#return-to-menu {
  top: 95%;
  width: 100%;
}

#previous-slide,
#next-slide {
  top: 50%;
  width: 20%;
}

#previous-slide {
  left: 12%;
}

#next-slide {
  left: 88%;
}

#exit-tutorial {
  top: 5%;
  left: 85%;
  width: 30%;
}

button:hover {
  background-color: var(--empty-ring-color);
  color: black;
}

#tutorial:disabled:hover,
#restart:disabled:hover {
  color: white;
}

.hidden {
  display: none;
}

.pieces-container {
  display: flex;
  justify-content: space-evenly;
}

.piece-card {
  width: 30%;
  height: 300px;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
}

.piece-card:disabled,
#tutorial:disabled,
#restart:disabled,
#previous-slide:disabled,
#next-slide:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(5, 140px);
  background-color: var(--off-grid-board-color);
  height: 700px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 10px solid black;
}

.player-pieces,
.main-board {
  background-color: var(--board-color);
  border-radius: 40px;
  border: 5px solid var(--border-grid-board-color);
}

.main-board {
  grid-column: 2/5;
  grid-row: 2/5;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.main-top,
.main-middle,
.main-bottom {
  display: flex;
  justify-content: space-evenly;
}

.ring-cell {
  position: relative;
}

.main-board .ring-cell {
  height: 100px;
  width: 100px;
}

.main-board .ring-cell:hover {
  background-color: var(--page-background-color);
}

.peg,
.small-ring,
.large-ring {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.peg {
  width: 20px;
  height: 20px;
}

.small-ring {
  border: 10px solid;
  width: 40px;
  height: 40px;
}

.large-ring {
  border: 10px solid;
  width: 75px;
  height: 75px;
}

.player-pieces {
  display: flex;
  gap: 30px;
}

.purple-side,
.blue-side {
  justify-content: space-evenly;
}

.red-side,
.green-side {
  flex-direction: column;
  justify-content: space-evenly;
}

.purple-side {
  grid-column: 2/5;
  grid-row: 1/2;
}

.green-side {
  grid-column: 1/2;
  grid-row: 2/5;
}

.blue-side {
  grid-column: 2/5;
  grid-row: 5;
}

.red-side {
  grid-column: 5;
  grid-row: 2/5;
}

.inner-purple {
  background-color: var(--purple);
}

.outer-purple {
  border-color: var(--purple);
}

.inner-blue {
  background-color: var(--blue);
}

.outer-blue {
  border-color: var(--blue);
}

.inner-red {
  background-color: var(--red);
}

.outer-red {
  border-color: var(--red);
}
.inner-green {
  background-color: var(--green);
}

.outer-green {
  border-color: var(--green);
}
.inner-open {
  background-color: var(--empty-ring-color);
}

.outer-open {
  border-color: var(--empty-ring-color);
}

.inner-black {
  background-color: black;
}

.outer-black {
  border-color: black;
}

.inner-faded {
  background-color: rgb(255, 233, 70);
}

.outer-faded {
  border-color: rgb(255, 233, 70);
}

.piece-card:disabled .inner-black,
.piece-card:disabled .inner-faded {
  background-color: rgb(167, 167, 167);
}

.piece-card:disabled .outer-black,
.piece-card:disabled .outer-faded {
  border-color: rgb(167, 167, 167);
}

.blue-turn {
  border: 10px solid var(--blue);
}
.green-turn {
  border: 10px solid var(--green);
}
.red-turn {
  border: 10px solid var(--red);
}
.purple-turn {
  border: 10px solid var(--purple);
}
